# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Os stuff
*.DS_Store

# IDE stuff
.vs/*
.idea/*
cmake-build-debug/*

# Flash stuff
*.swf
wave_simulator/wave_motion-app.xml
wave_simulator/bin-debug/
wave_simulator/.settings/*
